apipkg==1.5
argon2-cffi @ file:///D:/bld/argon2-cffi_1602546829425/work
asn1crypto==1.3.0
astroid==2.3.3
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
autopep8==1.4.4
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
conda==4.9.0
conda-package-handling==1.6.0
cryptography==2.8
Cython @ file:///D:/bld/cython_1594253747180/work
decorator==4.4.2
defusedxml==0.6.0
entrypoints @ file:///D:/bld/entrypoints_1602701951950/work/dist/entrypoints-0.3-py2.py3-none-any.whl
execnet==1.7.1
gensim==3.8.3
idna==2.8
importlib-metadata==1.6.0
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
ipykernel @ file:///D:/bld/ipykernel_1602683107803/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort==4.3.21
Jinja2==2.11.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console==5.2.0
jupyter-core @ file:///D:/bld/jupyter_core_1602537572784/work
jupyterlab==2.2.8
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
lazy-object-proxy==1.4.3
MarkupSafe @ file:///D:/bld/markupsafe_1602267515311/work
mccabe==0.6.1
menuinst==1.4.16
mistune @ file:///D:/bld/mistune_1602381923828/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///D:/bld/nbconvert_1602715589117/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1601342677072/work
nose==1.3.7
notebook @ file:///D:/bld/notebook_1602720392067/work
numpy @ file:///D:/bld/numpy_1597938567428/work
olefile==0.46
packaging==20.1
pandocfilters==1.4.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1594213048891/work
pluggy @ file:///D:/bld/pluggy_1592827687923/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==1.0.15
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent @ file:///D:/bld/pyrsistent_1602260150376/work
PySocks==1.7.1
pytest==6.1.0
pytest-faulthandler==2.0.1
pytest-forked @ file:///home/conda/feedstock_root/build_artifacts/pytest-forked_1593104431728/work
pytest-xdist @ file:///home/conda/feedstock_root/build_artifacts/pytest-xdist_1598359664024/work
python-dateutil==2.8.1
pywin32==227
pywinpty @ file:///D:/bld/pywinpty_1602377770565/work
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
requests==2.22.0
ruamel-yaml==0.15.87
scipy==1.5.2
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.13.0
smart-open==2.2.0
terminado @ file:///D:/bld/terminado_1602679984498/work
testpath==0.4.4
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
torch==1.7.0
torchaudio==0.7.0
torchvision==0.8.1
tornado @ file:///D:/bld/tornado_1602489103741/work
tqdm==4.42.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typed-ast==1.4.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3==1.25.8
vncorenlp==1.0.3
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1602769319647/work
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zipp==3.1.0
